/*Logos Nike y Adidas*/

.catalogoLogo {
  display: $propiedad-flex;
  gap: 20px;
  margin-bottom: 160px;
  margin-top: 90px;
  justify-content: center;
  align-items: center;
}

.logos {
  width: 400px;
  height: 250px;
  border: solid black;
}
