/*propiedades formulario*/

.formulario {
  display: $propiedad-flex;
  align-items: center;
  justify-content: center;
}

/*primer formulario de la pagina*/

.formUno {
  margin-bottom: 35px;
  @include formulario;
}

/*segundo formulario de la pagina*/

.formDos {
  margin-bottom: 80px;
  @include formulario;
}

/*datos formulario*/

.datos {
  font-size: 23px;
}

.cuadraditos {
  height: 30px;
  width: 300px;
}

.acciones {
  display: block;
  height: 30px;
  width: 300px;
  margin-top: 8px;
}

.creacionUsuario {
  text-align: center;
  margin-top: -50px;
  margin-bottom: 45px;
  font-size: 20px;
}

.creacion {
  text-decoration: none;
  color: black;
}
