/*imagenes del catalogo*/

.imagenes {
  width: auto;
  height: 300px;
  border: solid;
  border-radius: 5px;
  margin-top: 5px;
  transition: all 1s;

  &:hover {
    width: auto;
    height: 350px;
  }
}

/*boton de comprar*/

.botonComprar {
  border-radius: 10px;
  background-color: rgb(197, 220, 216);
  padding: 5px;
  margin-bottom: 5px;
  transition: all 1s;

  &:hover {
    background-color: $color-principal;
    border: black;
    border-radius: 10px;
    color: white;
    padding: 15px;
  }
}

/*cajas con imagenes*/

.cajas {
  text-align: center;
  border: solid;
  border-radius: 10px;
  padding: 10px;
  margin: 25px;
  background-color: $color-secundario;

  h3 {
    color: white;
    font-size: 18px;
    margin-top: 10px;
  }
}
