/*inicio de pagina*/

header {
  position: sticky;
  top: 0%;

  h1 {
    color: white;
  }
}

/*barra de navegacion*/

.navegacion {
  background-color: $color-secundario;
  border-top: solid 20px $color-principal;
}

.navMenu a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 0;

  &:hover {
    background-color: $color-principal;
    color: white;
    border-radius: 5px;
  }
}
