/*header*/

@media (max-width: 500px) {
  header {
    position: relative;
  }
}

/*catalogo*/

@media (max-width: 850px) {
  .catalogoLogo {
    display: $propiedad-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
}

@media (max-width: 500px) {
  .logos {
    width: 350px;
    height: 200px;
    border: solid black;
    margin: 10px;
  }
}

/*logo wpp*/

@media (max-width: 500px) {
  .logoWpp {
    display: none;
  }
}

/*footer*/
@media (max-width: 500px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .finalPagina {
      margin-bottom: 20px;
    }

    ul {
      text-align: left;
    }
  }
}
